<ais-instantsearch [config]="config">
    <div class="left">
        <ais-hierarchical-menu
            [attributes]="['hierarchicalCategories.lvl0', 'hierarchicalCategories.lvl1', 'hierarchicalCategories.lvl2']"
            [sortBy]="['name:asc']">
        </ais-hierarchical-menu>
        <ais-refinement-list
            attribute="brand"
            operator="or"
            limit="10">
        </ais-refinement-list>
    </div>

    <div class="right">
        <ais-search-box placeholder="Search a product"></ais-search-box>
        <ais-hits></ais-hits>
    </div>
</ais-instantsearch>
