/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./variables";

body {
	margin: 0;
	font-family: Lato, Roboto, Arial, sans-serif;
}

.ais-HierarchicalMenu-count {
	margin-left: 8px;
}

.ais-RefinementList-count {
	margin-left: 8px;
}

.hits .ais-Hits {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.ais-RatingMenu-starIcon {
	width: 24px;
	height: 24px;
}

.noUi-connect {
	background-color: $tertiary;
}

.ais-CurrentRefinements-item {
	background-color: $tertiary;
}
